text {
	font-family: sans-serif;
	font-size: 10px;
	stroke-width: 0px;
}
.selected {
	stroke: #E34234;
	stroke-width: 2.5px;
}

.body {
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.input {
	padding-top: 0ex;
	margin-top: 10px;
	margin-bottom: 10px;
}

.lrmargin_button {
	margin-right: 5px;
	margin-left: 5px;
	
}

@media (min-width: 1200px){
.sidebar-left {
	width: 20%;
}
.sidebar-right {
	width: 22%;
}
}
@media (max-width: 992px){
	.sidebar-left {
		width: 30%;
	}
	.sidebar-right {
		width: 35%;
	}
}

@media (max-width: 768px){
	.sidebar-left {
		width: 35%;
	}
	.sidebar-right {
		width: 50%;
	}
}

@media (max-width: 576px){
	.sidebar-left {
		width: 43%;
	}
	.sidebar-right {
		width: 57%;
	}
}




#file_input {
	margin-top: 10px;
	margin-bottom: 10px;
}

#loadpopup {
	display: none;
}


.interval_input {
	width: 100px;
}

.form-popup {
	display: none;
	position: fixed;
	top: 60px;
	right: 10px;
	border: 1px solid #343a40;
	max-width: 300px;
	padding: 10px;
	background-color: lightgrey;
	/*word-spacing: -10px;*/
	font-size: 12px;
}

#header h1{
    margin:0px;
}

.edit_cluster_textbox {
	font-size: 12px;
	/*max-height: 70vh;
	overflow: auto;*/
	color: black;
}


.color-select {
	float: left;
	margin-left: 0px;
}

.dot-sm {
	border-radius: 50%;
	text-align: bottom;
	margin-right: 10px;
	display: inline;
}


#accordion {
	font-size:10px;
	/*padding: 2px;*/
	margin-left: 2px;
	margin-top: 5px;
	float: left;
	display: block !important;
}

.collapsed > .when-opened,
:not(.collapsed) > .when-closed {
	display: none;
}

.overflow {
	overflow: auto;
}

.cluster_nodes {
	display: none;
}

.d3-tip {
	line-height: 1;
	padding: 6px;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	border-radius: 4px;
	font-size: 14px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
	box-sizing: border-box;
	display: inline;
	font-size: 10px;
	line-height: 1;
	color: rgba(0, 0, 0, 0.8);
	content: "\25BC";
	position: absolute;
	text-align: center;
}

/* Style northward tooltips specifically */
.d3-tip.n:after {
	margin: -2px 0 0 0;
	top: 100%;
	left: 0;
}
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
:root{
	overflow: hidden;
}