<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Scotti</title>
  <meta name="description" content="Scotti">
  <meta name="author" content="Christian Haase">


</head>

<body>
    <h1>Dr. Christian Haase, PhD (Oxford), AI-Software Engineer</h1>

This website is the landing page for the software Semantic Clustering over Time.
<br>
You find Scotti here: <a href="https://christianhaase.net/scotti">https://christianhaase.net/scotti</a>
<br>
<br>
SCoTTi (Semantic Clustering of Tags over Time) is a web application to analyse the topical clusters of hashtags and their evolvement over time.
<br>
This is important, for example, for precise information gatherings on hashtags such as #corona. 
<br>
<br>
I have developed the web-app for my Master Thesis in Computer Science/Data Science at the FernUniversität Hagen.
<br>
My thesis has been supervised by Dr. Kuepper (A specialist on graphs) and Dr. Keller (A specialist on Software Engineering).
<br>
<br>
The core of the application is based on the research by Prof. Chris Biemann of the University of Hamburg. (An NLP-Specialist)
<br>
SCoTTi is a fork of the open-source software SCoT (Sense Clustering over Time) which is supervised Biemann and co-developed by Haase.
<br>
SCoT uses at its core a graph-optimized algorithm “over time” by Biemann, while SCoTTi uses a different algorithm by Haase “in time”. 
<br>
The author would like to thank the developer of version 1 of SCoT, Inga Kempfert, who with Christian Haase co-holds part of the MIT-Open Source license for SCoT 
</p>
</body>
</html>