<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Scotti</title>
  <meta name="description" content="Scotti">
  <meta name="author" content="Christian Haase">


</head>

<body>
    <h1>Christian Haase</h1>

This website is the landing page for the software Semantic Clustering over Time which I have developed for my Master Thesis.

    You find Scotti here: <a href="https://christianhaase.net/scotti">https://christianhaase.net/scotti</a>
<br>
    <p>
SCoTTi (Semantic Clustering of Tags over Time) is a web application to analyse the topical clusters of hashtags and their evolvement over time. The idea is to help scholars and scientists interested in diachronic distributional semantics visualize and analyse the clusters on a graph.
SCoTTi is a fork of the open-source software SCoT (Sense Clustering over Time). Christian Haase is also the lead developer of version 2 of SCoT. In which respects is SCoTTi different to SCoT?
</p>
<p>
SCoT is based on distributional semantics calculated with the JoBim-text-framework. SCoTTi, on the contrary, is based on a new custom semantic system developed by Christian Haase that analyses Hashtags in the context of “text-embedded metadata”.
SCoT uses at its core a graph-optimized algorithm “over time” by Biemann, while SCoTTi uses a different algorithm by Haase “in time”. The SCoTTi-algorithm is optimized to distinguish more sharply between long-lived and short-lived hashtag-clusters.
SCoTTi offers additional functionality, in particular a choice of graph-shaping-algorithms that feed into a Machine Learning - Component that can utilize the semantic time-series of SCoTTi for transductive learning.
There is no seperate user guide for SCoTTi. It is recommended to follow the user guide for SCoT. Further information on SCoTTi will be published in Haase’s master thesis.
</p>
<p>
The functionalities and usage of SCoT are described in the user guide.
If you would like to deploy or develop SCoT or SCoTTi yourself, see installation guide.
The project SCoT is maintained by the Language Technology Group at Universität Hamburg. The project SCoTTi is maintained by Christian Haase. The author would like to thank the developer of version 1 of SCoT, Inga Kempfert, who holds part of the MIT-Open Source license for SCoT.
</p>
</body>
</html>